*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, li, a{
    font-family: 'Times New Roman', Times, serif;
    
}

li, a{
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid black;
}

nav .logo h1 a{
    font-size: 1.45em;
    color: black;
}

nav ul{
    display: flex;
    gap: 20px;
    padding: 15px;
}

nav ul li:nth-child(1) a{
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 30px;
}

nav ul li:nth-child(2) a {
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 30px;
}

nav ul li a{
    font-size: 0.8em;
}

.story{
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.story .content{
    border: 1px solid black;
    width: 100%;
    padding: 25px;
    background-color: #F6D4F5;
}

.story .content  h1{
    font-size: 4.5em;
    font-weight: lighter;
    line-height: 90px;
    margin-top: 30px;
}

.story .content .caption p{
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #6B6B6B;
    margin-top: 22%;
    width: 65%;
}

.story .content .link{
    margin-top: 40px;
}

.story .content .link ul{
    display: flex;
    gap: 30px;
}

.story .content .link ul li:nth-child(1) a {
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 30px;
}

.story .content .link ul li:nth-child(2) a {
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 30px;
}

.animated-content{
    background-image: url('/assets/img/Capture.PNG');
    background-size: cover;
    border: 1px solid black;
    width: 790px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.animated-content .caption span{
    background-color: #FDC117;
    display: flex;
    height: 20px;
    width: 160px;
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.animated-content .caption span img {
    margin-left: 5px;
}
.animated-content .caption span p{
    margin-top: 2.5px;
    margin-left: 2.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.animated-content .caption{
    margin-left: 30px;
    margin-bottom: 40px;
}

.animated-content .author{
    display: flex;
    gap: 20px;
}

.animated-content .caption .title{
    margin-bottom: 50px;
}

.animated-content .author-img{
    width: 45px;
    height: 45px;
}

.animated-content .author-img img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.animated-content .author-des{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 20px;
}

.membership .container{
    display: flex;
    height: fit-content;
}

.membership .content {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;

}

.membership .container{
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.membership .content .article h1{
    font-size: 2.5em;
    font-weight: lighter;
    margin-bottom: 20px;
}

.membership .content .article p {
    width: 80%;
    line-height: 30px;
}

.membership .container .title{
    width: 500px;
}

.membership .container .title h1{
    padding: 50px;
    font-size: 3.5em;
    font-weight: lighter;
    position: sticky;
    top: 0;
}

/* Membership content 2 */
.membership .content-2 {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
}

.membership .content-2  .article{
    display: flex;
    gap: 30px;
}

.membership .content-2 .profile{
    width: 50px;
    height: 50px;
}

.membership .content-2 .profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.membership .content-2 .article p {
    width: 65%;
    line-height: 30px;
    display: block;
}

.membership .content-2 .article code{
    display: block;
    margin-top: 10px;
}

.membership .content-2 .article code a{
    font-size: 0.7em;
    color: black;
}

/* Membership content 3 */
.membership .content-3 {
    padding: 50px 0 0 0;
    display: flex;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-3 .box{
    border: 1px solid #C8C9C9;
    border-radius: 5px;
    justify-content: center;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.content-3 .icon{
    width: 30px;
    margin: 0 auto;
    height: 40px;
}

.content-3 .icon img{
    width: 100%;
}

.content-3 .subscription h1{
    margin-top: 10px;
    font-weight: lighter;
}

.content-3 .subscription p{
    font-size: 0.8em;
    margin-bottom: 15px;
}

.content-3 .subscription a{
    display: block;
    background-color: #288817;
    font-size: 0.7em;
    color: white;
    padding: 10px 90px;
    border-radius: 30px;
    margin: 20px 0;
}

.content-3 ul{
    text-align: left;
    font-size: 0.8em;
    line-height: 15px;
    margin-top: 10px;
}

.content-3 .fa-check{
    color: #72BB7E;
    padding-right: 10px;
}

.content-3 hr{
    background-color: #C8C9C9;
}

.content-3 span{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.content-3 span .line{
    width: 50px;
    height: 1px;
    background-color: #C8C9C9;
    margin-top: 9px;
}

.content-3 .mid{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.content-3 .mid .img{
    width: 20px;
    margin-right: 10px;
}

.content-3 .mid .img img{
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7D5F5;
    padding: 50px;
}

.banner .content {
    text-align: center;
}

.banner .content  h1 {
    font-size: 3.5em;
}

.banner .content a{
    display: inline-block;
    margin-top: 25px;
    color: white;
    background-color: black;
    padding: 8px 15px;
    border-radius: 30px;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


footer .logo h1 a{
    font-size: 1em;
    color: black;
}

footer ul{
    display: flex;
    gap: 20px;
    padding: 10px;
}

footer ul li a{
    font-size: 0.8em;
    color: black;
    text-decoration: underline;
}